.title {
    text-align: center;
    color: red;
    padding-bottom: 3.5%;
}

.body {
    text-align: center;
    padding-bottom: 5%;
    padding-top: 7%;
}

.cardName {
    font-weight: bold;
}

button:hover {
    background: #3F51B5;
    color: white;
}

.titleGrid {
    width: 100%;
}

button {
    width: 100%;
}
.seperator {
    width: 100%;
    border-bottom: 2px solid #3F51B5;
}

.button-container {
    position: relative;
    padding-top: 31%;
}


