.chrono-zone {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 6em;
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

