<div class="mat-title">
  {{TITLE}}
  <hr>
</div>
<form class="form" (ngSubmit)="submit(formControl)" [formGroup]="formControl">
    <mat-form-field class="input-width">
      <input type="text" formControlName="gameName" name="gameName" matInput placeholder="Nom du jeu">
    </mat-form-field>
    <div class="mat-subheading-2">
      {{ORIGINAL_IMAGE}}:
      <input mat-icon-button type="file" accept="image/bmp" (change)="onFileSelected($event.target.files[0], ORIGINAL_INDEX)">
    </div>
    <div class="mat-subheading-2">
      {{MODIFIED_IMAGE}}:
      <input mat-icon-button type="file" accept="image/bmp" (change)="onFileSelected($event.target.files[0], MODIFIED_INDEX)">
    </div>
    <button class="button-padding" [disabled]="hasFormControlErrors()" type="submit" mat-raised-button>{{SUBMIT}}</button>
    <button class="button-padding" mat-raised-button (click)="closeDialog()">{{CANCEL}}</button>
</form>
