.form {
  width: 700px;
}
.input {
  width: 80%;
}
.mat-title {
  font-size: 20pt;
}
.mat-subheading-2 {
  font-size: 16pt;
}
.input-width, .mat-title {
  padding-bottom: 40px;
}
.button-padding {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}
