.form {
  width: 700px;
}

.input {
  width: 80%;
}

.mat-title {
  font-size: 20pt;
}

.mat-subheading-2 {
  font-size: 16pt;
}

.input-width, .mat-title {
  padding-bottom: 2%;
}

.button-padding {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.alertInvalide {
  color: red;
  font-size: 13px;
  position: relative;
  bottom: 15px;
}

div input {
  display: none;
}

button:hover {
  background: #3F51B5;
  color: white;
}

.checkImage {
  padding-left: 10px;
  display: inline-block;
  vertical-align: bottom;
  color: red;
  cursor: pointer;
}

span {
  font-style: italic;
}

.mat-subheading-2 mat-icon {
  padding-top: 20px;
}