<mat-expansion-panel class="highscore_panel" [(expanded)]="isExpanded" *ngIf="isLoaded">
    <h1>{{ RANKING }}</h1>
    <div class="grid_ranking">

        <div  class="rightAlign"style="grid-column: 1 / 3"><h3>{{ SIMPLE }}</h3></div>
        <div></div>
        <div  class="leftAlign" style="grid-column: 4 / 6"><h3>{{ ONE_VS_ONE }}</h3></div>

        <ng-container *ngFor="let medal of IMAGE_MEDAL_URL; index as i">
            <div class="rightAlign">{{ highscore.timesSingle[i].username }}</div>
            <div class="rightAlign">{{ highscore.timesSingle[i].time }}</div>
            <div><img class="medals" src="{{medal}}"></div>
            <div class="leftAlign">{{ highscore.timesMulti[i].time }}</div>
            <div class="leftAlign">{{ highscore.timesMulti[i].username }}</div>
        </ng-container>

    </div>
  </mat-expansion-panel>
