<mat-expansion-panel class="highscore_panel" [(expanded)]="isExpanded" *ngIf="isLoaded">
    <h1>{{ RANKING }}</h1>
    <div class="grid_ranking">

        <div><h3>{{ SIMPLE }}</h3></div>
        <div></div>
        <div><h3>{{ ONE_VS_ONE }}</h3></div>

        <div>{{ highscore.timesSingle[0] }}</div>
        <div><img class="medals" src="{{IMAGE_MEDAL_URL[0]}}"></div>
        <div>{{ highscore.timesMulti[0] }}</div>

        <div>{{ highscore.timesSingle[1] }}</div>
        <div><img class="medals" src="{{IMAGE_MEDAL_URL[1]}}"></div>
        <div>{{ highscore.timesMulti[1] }}</div>

        <div>{{ highscore.timesSingle[2] }}</div>
        <div><img class="medals" src="{{IMAGE_MEDAL_URL[2]}}"></div>
        <div>{{ highscore.timesMulti[2] }}</div>
    </div>
  </mat-expansion-panel>
