<mat-expansion-panel class="highscore_panel" [(expanded)]="isExpanded">
 
    <h2>Classement</h2>
    <div class="grid_ranking">
        <div></div>
        <div><h3>Simple</h3></div>
        <div><h3>1 vs 1</h3></div>
        <div><img width="30" src="../../assets/or.png"></div>
        <div>joe</div>
        <div>natt</div>
        <div><img width="30" src="../../assets/argent.png"></div>
        <div>nic</div>
        <div>sylvain</div>
        <div><img width="30" src="../../assets/bronze.png"></div>
        <div>sarah</div>
        <div>julie</div>
    </div>
    
  </mat-expansion-panel>
