mat-card {
    display: block;
    position: absolute;
    top: 0px;
    left:0px;
    height: 100%;
    width: 92%;
}

mat-card-content {
    scroll-behavior: smooth;
    height: 100%;
}

mat-list {
    overflow-y: scroll;
    height: 80%;
    padding-bottom: 20px;
}