<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar [ngStyle]="{ 'background-image': 'url(' + _card.avatarImageUrl + ')'}"  class="thumbnail"></div>
    <mat-card-title>{{_card.title}}</mat-card-title>
    <mat-card-subtitle>{{_card.subtitle}}</mat-card-subtitle>
    <div class="spacer"></div>
    <button *ngIf="this.router.url == ADMIN_PATH" type="button" class="button" mat-icon-button [matMenuTriggerFor]="settingsMenu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #settingsMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>restore</mat-icon>
        <span>{{TEXT_RESET_TIMERS}}</span>
      </button>
      <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>{{TEXT_DELETE}}</span>
      </button>
    </mat-menu>
  </mat-card-header>

  <app-highscore-display class="highscorePanel" [(_isExpanded)]="HS_BUTTON_IS_CLICKED"></app-highscore-display>

  <img mat-card-image class="card-image" [ngClass]="HS_BUTTON_IS_CLICKED ? 'darkenImage' : 'brightenImage'" alt="GameCardImage" src="{{_card.gameImageUrl}}">

  <div  class="optionBar">
      <mat-card-actions>
          <button class="playButton" mat-button [matMenuTriggerFor]="menu">{{TEXT_PLAY}}</button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item>{{TEXT_PLAY_SINGLE}}</button>
            <button mat-menu-item>{{TEXT_PLAY_MULTI}}</button>
          </mat-menu>

        <button mat-button class="highscoreButton" [ngClass]="HS_BUTTON_IS_CLICKED ? 'clicked' : 'unclicked'" (click)="onHSButtonClick()">
          <img class="highscoreIcon"  [src]="TROPHY_IMAGE_URL">
        </button>
      </mat-card-actions>

  </div>
</mat-card>
