.card {
    max-width:450px;
    width: 90%;
    margin:auto;
    margin: 15px auto 15px auto;
}

.card-image {
    width: 400;
    transition-property: filter;
    transition-duration: 0.6s;
}

.darkenImage {
    filter: brightness(30%);
}

.brigthenImage {
    filter: brightness(100%);
}
.thumbnail {
    background-size: cover;
}

.optionBar {
    display: block inline;
    padding-bottom: 25px;
}

.playButton, .resetButton {
    color: #3F51B5;
    font-size: larger;
    float: left;
}

.highscoreIcon {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    width: 25px;
}

.highscoreButton {
    float:right;
}

.clicked {
    background-color: rgb(240, 240, 240);
}

.unclicked {
    background-color: white;
}

.spacer {
    flex: 1 1 auto;
}

.highscorePanel {
    position: absolute;
    width: 400px;
    z-index: 100;
    top:50%;
    left:50%;
    margin-top: -150px;;
    margin-left: -200px;
}

.resetIcon {
    padding-top: 1%;
    padding-right: 3%; 
    padding-bottom: 2.5%;
}

.playIcon {
    padding-top: 1%;
    padding-right: 3%; 
    padding-bottom: 3%;
}

.blink {
    animation: blink 1s infinite;
    -webkit-animation: blink 1s infinite;
}

@keyframes blink {
    0% { color: rgb(194, 204, 255); }
    50% { color:#FFA441; }
}

@-webkit-keyframes blink {
    0% { color: rgb(194, 204, 255); }
    50% { color: #FFA441; }
}