.card {
    max-width:400px;
    margin:auto;
    margin-top:30px;
}

.thumbnail {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.action_button {
    color: #E91E63;
    font-size: larger;
}

.option_grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
