.list-container {
    display: flex;
    padding: 0;
    justify-content: center space-around !important;
    align-items: flex-start center;
}

.center-item {
    background: gray;
    text-align: center;
    width: 30%;
}

.side-item {
    width: 20%;
}

.card {
    /* display: flex;
    margin-left: 0px;
    margin-right: 0px; */
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.title {
    margin-top: 20px;
}