<div class="list-container">
    <div class="side-item">jsp quoi mettre ici</div>
    <div class="center-item">
        <div class="title">Jeux à point de vue simple</div>
        <!-- <div class="card" *ngFor="let game of simpleGames">
            <app-card [name]="game.name" [path]="game.path"></app-card>
        </div> -->
    </div>
    <div class="center-item">
        <div class="title">Jeux à point de vue libre</div>
        <!-- <div class="card" *ngFor="let game of freeGames">
            <app-card [name]="game.name" [path]="game.path"></app-card>
        </div> -->
    </div>
    <div class="side-item">chat maybe?</div>
</div>