.loaderInRight {
    position: absolute;
    left: 0px;
    background-color: rgb(235, 237, 251);
  }

  .value {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
  }
  
  
  .counter {
    transition: width 0.5s linear;
    -webkit-transition: width 0.5s linear; 
  }

  .counterLeftMulti {
    position: absolute;
    right: 0px;
    background-color: #27ABB5;
  }