/* NoSmoking. (2016) Progress-Bar circulaire. [Online]. Available: https://nosmoking.developpez.com/demos/css/gauge_circulaire.html */

.progress-circle{
  position: relative;             
  box-sizing: border-box;         
  font-size: 6em;                 
  width: 1em;                     
  height: 1em;                    
  border-radius: 50%;             
  border: .15em solid #CDE;       
  background-color: #FFF;         
}

/* hide left part when spinner < 50% */
.progress-mask {
  position: absolute;
  width: 1em;                     
  height: 1em;                    
  left: -.15em;                   
  top: -.15em;                    
  clip: rect(0, 1em, 1em, .5em);  /* only left part spinner visible by default */
}

/* print all spinner when spinner > 50% */
.progress-circle[data-value^='5']:not([data-value='5']):not([data-value^='5.']) .progress-mask,
.progress-circle[data-value^='6']:not([data-value='6']):not([data-value^='6.']) .progress-mask,
.progress-circle[data-value^='7']:not([data-value='7']):not([data-value^='7.']) .progress-mask,
.progress-circle[data-value^='8']:not([data-value='8']):not([data-value^='8.']) .progress-mask,
.progress-circle[data-value^='9']:not([data-value='9']):not([data-value^='9.']) .progress-mask,
.progress-circle[data-value^='100'] .progress-mask {
  clip: rect(auto, auto, auto, auto);
}

.progress-bar,
.progress-sup50 {
  position: absolute;
  box-sizing: border-box;         
  border-width: .15em;            
  border-style: solid;
  border-color: #069;
  border-radius: 50%;             
  width: 1em;                     
  height: 1em;                    
  clip: rect(0, .5em, 1em, 0);    /* only keep left part of spinner */
}

/* default hidding left part spinner */
.progress-sup50 {
  display: none;
  clip: rect(0, 1em, 1em, .5em);
}

/* when spinner > 50%, print all spinner */
.progress-circle[data-value^='5']:not([data-value='5']):not([data-value^='5.']) .progress-sup50,
.progress-circle[data-value^='6']:not([data-value='6']):not([data-value^='6.']) .progress-sup50,
.progress-circle[data-value^='7']:not([data-value='7']):not([data-value^='7.']) .progress-sup50,
.progress-circle[data-value^='8']:not([data-value='8']):not([data-value^='8.']) .progress-sup50,
.progress-circle[data-value^='9']:not([data-value='9']):not([data-value^='9.']) .progress-sup50,
.progress-circle[data-value^='100'] .progress-sup50 {
  display:block;
}

/* print number differences */
.progress-circle:after {
  content: attr(id);      /* retrieve number differences */
  font-size: 0.15em;              
  height: 100%;                   
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  box-shadow: 0 0 .5em rgba(0, 0, 0, .5) inset;
}

.diffCounter-zone {
  width: 6em;
}