<app-waiting-room [gameID]="gameID" *ngIf="!gameIsStarted && mode !== 0"></app-waiting-room>

<span [hidden]="!gameIsStarted">
  <mat-grid-list cols="9" rowHeight="1%">
    <mat-grid-tile
      [colspan]="7"
      [rowspan]="12">
      <div class="gameName" *ngIf="gameIsStarted">{{activeCard.title}}</div>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="2"
      [rowspan]="89">
      <app-chat-view [arenaID]="arenaID" [username]="username"></app-chat-view>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan]="7"
    [rowspan]="57">
    <app-spinner *ngIf="isLoading"></app-spinner>
      <mat-grid-list id="displayGame" cols="2" rowHeight="500px">
          <mat-grid-tile [colspan]="1">
              <div class="text" #textDiv>TEXT</div>
              <app-threejs-view id="originalScene"
                      [arenaID]="arenaID"
                      [username]="username"
                      [isNotOriginal]="false"
                      [iSceneVariables]="originalVariables"
                      [isSnapshotNeeded]="NEEDED_SNAPSHOT">
      </app-threejs-view>
          </mat-grid-tile>  
          <mat-grid-tile [colspan]="1" >
            <div class="text2" #textDiv2>TEXT</div>
              <app-threejs-view id="modifiedScene"
                      [arenaID]="arenaID"
                      [username]="username"
                      [isNotOriginal]="true"
                      [iSceneVariables]="modifiedVariables"
                      [isSnapshotNeeded]="NEEDED_SNAPSHOT"></app-threejs-view>
              <div class="text2" #textDiv2></div>
          </mat-grid-tile>
        </mat-grid-list>
      
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="4"
      [rowspan]="20">
      <app-timer></app-timer>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="2"
      [rowspan]="20">
      <app-difference-counter></app-difference-counter>
    </mat-grid-tile>
  </mat-grid-list>
</span>
<audio #failSound>
  <source src={{SUCCESS_SOUND}} type="audio/wav">
</audio>
<audio #successSound>
  <source src={{FAIL_SOUND}} type="audio/wav">
</audio>
