#displayGame {
  margin-top:         20px;
  background:       rgb(240, 240, 240);
  box-shadow:         0px 1px 2px #333333;
  border-radius:      5px;
  position:           relative;
  width:              98.5%;
  height:             93% !important;
}

@media screen and (min-width: 1800px) {
  #displayGame {
      width: 94%;
  }
}

.gameName {
  font-size:    40px;
  font-weight:  bold;
  color:      #7982D5;
  margin-top:   3%;
}

.previous {
  margin-top: 3%;
  font-size:  25px;
}

.previous:hover {
  color: #7982D5;
}

.gameInfoContainer {
  width:  100%;
  height: 100%;
}
.counter1 {
  width:  99%;
  height: 100%;
}

app-difference-counter {
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.timerContainer {
  padding-top: 2px;
}

::ng-deep .timer div {
  padding-top:    10px !important;
  padding-bottom: 10px !important;
}

.text, .text2 {
  position:            absolute;
  z-index:             1;
  font-size:           18px;
  color:             red;
  font:                Roboto, "Helvetica Neue", sans-serif;
  text-shadow:         -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width:               100%;
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}

.blur {
  filter: blur(10px);
}

.normal {
  filter: blur(0px);
}


.counterOut {
  border:             1px solid rgb(36, 36, 36);
  background-color: rgb(235, 237, 251);
}


.alignLeft {
  position: absolute;
  left:     0px;
}

.loadingFill {
  position: relative;
  right:    0px;
}

.names {
  font-family:  'Open Sans', sans-serif;
  font-size:    22pt;
  font-weight:  bold;
  color:      #7982D5;
}


app-difference-counter {
  height: 100%;
}

canvas {
  border: 1px solid rgb(53, 52, 52);
}