.chatMessageBox {
    background-color: rgb(226, 226, 226);
    height: auto;
    border-radius: 23px;
    padding: 13px 20px 13px 20px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.messageFormat {
    word-break: break-word;
}

.timeMessage {
    font-size: 11px;
    margin-left: 5px;
}