<form class="login-form">
  <mat-form-field class="login-input">
    <input #newUsername matInput (keyup.enter)="addUsername()"
        placeholder="Nom d'utilisateur" [formControl]="usernameFormControl" [errorStateMatcher]="matcher">
    <mat-hint class="hint">Veuillez entrer un alias</mat-hint>
    <mat-error *ngIf="usernameFormControl.hasError('pattern')">
      A-Z, a-z, 0-9
    </mat-error>
    <mat-error *ngIf="usernameFormControl.hasError('minlength') || usernameFormControl.hasError('maxlength')">
      Taille: 4-15 caractères
    </mat-error>
    <mat-error *ngIf="usernameFormControl.hasError('required')">
      Nom d'utilisateur <strong>requis</strong>
    </mat-error>
  </mat-form-field>
</form>
<br>
<br>
<button mat-raised-button id="submit-button" (click)="addUsername()">
  <span>Soumettre</span>
</button>

<h3>Liste des noms utilisés</h3>

<ul><li *ngFor="let username of usernames">{{username}}</li></ul>
