<form class="login-form">
  <mat-form-field class="login-input">
    <input #newUsername matInput (keyup.enter)="addUsername()"
        placeholder="Nom d'utilisateur"
        [formControl]="_loginValidatorService.usernameFormControl"
        [errorStateMatcher]="_loginValidatorService._matcher">
    <mat-hint class="hint">Veuillez entrer un alias</mat-hint>
    <mat-error *ngIf="hasErrorOfType('pattern')">
      Caractères autorisés: A-Z, a-z, 0-9
    </mat-error>
    <mat-error *ngIf="hasErrorOfType(minlength) || hasErrorOfType(maxlength)">
      Taille: 4-15 caractères
    </mat-error>
    <mat-error *ngIf="hasErrorOfType(required)">
      Nom d'utilisateur <strong>requis</strong>
    </mat-error>
  </mat-form-field>
</form>
<br>
<br>
<button mat-raised-button id="submit-button"  (click)="addUsername()" 
  [disabled]="hasFormControlErrors()" routerLink="/nav/gamelist">
  <span>Soumettre</span>
</button>

<h3>Liste des noms utilisés</h3>
<div>
  <ul><li *ngFor="let username of _loginValidatorService.usernames">{{username}}</li></ul>
</div>