<form class="login-form">
  <mat-form-field class="login-input">
    <input #newUsername matInput (keyup.enter)="addUsername()"
        placeholder="Nom d'utilisateur" [formControl]="_loginValidatorService.usernameFormControl" [errorStateMatcher]="_loginValidatorService._matcher">
    <mat-hint class="hint">Veuillez entrer un alias</mat-hint>
    <mat-error *ngIf="_loginValidatorService.usernameFormControl.hasError('pattern')">
      A-Z, a-z, 0-9
    </mat-error>
    <mat-error *ngIf="_loginValidatorService.usernameFormControl.hasError('minlength') || _loginValidatorService.usernameFormControl.hasError('maxlength')">
      Taille: 4-15 caractères
    </mat-error>
    <mat-error *ngIf="_loginValidatorService.usernameFormControl.hasError('required')">
      Nom d'utilisateur <strong>requis</strong>
    </mat-error>
  </mat-form-field>
</form>
<br>
<br>
<button mat-raised-button id="submit-button"  (click)="addUsername()" 
  [disabled]="!(_loginValidatorService.usernameFormControl.errors == null)" routerLink="/nav/gamelist">
  <span>Soumettre</span>
</button>

<h3>Liste des noms utilisés</h3>
<div>
  <ul><li *ngFor="let username of _loginValidatorService.usernames">{{username}}</li></ul>
</div>