<app-spinner *ngIf="isLoading"></app-spinner>
<div class="mat-title">
  {{TITLE}}
  <hr>
</div>
<form class="form" (ngSubmit)="submit(formControl)" [formGroup]="formControl">
  <mat-form-field class="input">
    <input type="text" autocomplete="off" formControlName="nameControl" name="gameName" matInput placeholder={{PLACE_HOLDER_NAME}} required>
  </mat-form-field>
  <div class="alertInvalide" [hidden]="hasNameControlErrors()">{{INVALID_NAME}}</div>

  <mat-form-field class="selector">
    <mat-select  placeholder={{PLACE_HOLDER_TYPE}} formControlName="selectControl" required>
      <mat-option value="geometric">{{GEOMETRIC_OPTION}}</mat-option>
      <mat-option value="thematic">{{THEMATIC_OPTION}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <mat-slider
    class="mat-slider-horizontal"
    name="slider"
    thumbLabel
    min="{{MIN_OBJECT_COUNT}}"
    [(ngModel)]="sliderValue"
    [ngModelOptions]="{standalone: true}"
    max="{{MAX_OBJECT_COUNT}}"></mat-slider>
    <div class="sliderDiv">
      <input
      min="MIN_OBJECT_COUNT"
      max="MAX_OBJECT_COUNT"
      class="sliderValue"
      name="sliderValue"
      type="number"
      matInput
      (change)="clampSliderValues($event.srcElement.value)"
      [ngModelOptions]="{standalone: true}"
      [(ngModel)]="sliderValue">
    </div>
  </div>

  <div>
    <label formArrayName="modifTypes" *ngFor="let modifType of formControl.controls.modifTypes.controls; let i = index">
      <mat-checkbox [formControlName]="i"  class="checkbox">
          {{modifTypes[i].name}}
      </mat-checkbox>
    </label>
  <div class="alertInvalideCheckbox" [hidden]="hasCheckboxControlErrors()">{{ATLEASTONE_CHECKED}}</div>
  </div>
  <button class="button-padding" [disabled]="hasFormControlErrors()" mat-raised-button>{{SUBMIT}}</button>
  <button class="button-padding" mat-raised-button type="button" (click)="closeDialog()">{{CANCEL}}</button>
</form>
<app-spinner *ngIf="isSceneGenerated"></app-spinner>
<div *ngIf="isSceneGenerated" style="display: none">
  <app-threejs-view [sceneData]="sceneData"
                    [iSceneVariables]="sceneData.originalScene"
                    [isSnapshotNeeded]="NEEDED_SNAPSHOT"
                    (sceneGenerated)="closeDialog()">
  </app-threejs-view>
</div>
