.form {
  width: 700px;
 }

 .input {
  width: 80%;
 }

 .mat-title {
  font-size: 20pt;
 }

 .input-width, .mat-title {
  padding-bottom: 40px;
 }

 .button-padding {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
 }

 .mat-slider-horizontal {
  width: 500px;
}

.sliderValue {
  width: 70px;
  float: left;
}

.sliderDiv {
  width: 200px;
  float: right;
}

.selector {
  width: 250px;
}

.checkbox {
  
  display: block;
}

.alertInvalide {
  color: red;
  font-size: 13px;
  position: relative;
  bottom: 15px;
}

.alertInvalideCheckbox {
  color: red;
  font-size: 13px;
  position: relative;
}

button:hover {
  background: #3F51B5;
  color: white;
}