<div class="mat-title">
  {{TITLE}}
  <hr>
</div>
<form class="form">
    <mat-form-field class="input-role">
      <input type="text" name="gameName" matInput placeholder={{PLACE_HOLDER}}>
    </mat-form-field>
    
    <mat-form-field>
      <mat-select placeholder="Type d'objets">
        <mat-option value="option1">{{SPHERE_OPTION}}</mat-option>
        <mat-option value="option1">{{CUBE_OPTION}}</mat-option>
        <mat-option value="option1">{{CONE_OPTION}}</mat-option>
        <mat-option value="option1">{{CYLINDRE_OPTION}}</mat-option>
        <mat-option value="option1">{{PYRAMIDE_OPTION}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
    <button class="button-padding" mat-raised-button>{{SUBMIT}}</button>
    <button class="button-padding" mat-raised-button type="button" (click)="closeDialog()">{{CANCEL}}</button>
    </div>
</form>