<div class="mat-title">
  {{TITLE}}
  <hr>
</div>
<form class="form">
    <mat-form-field class="input">
      <input type="text" name="gameName" matInput placeholder={{PLACE_HOLDER}}>
    </mat-form-field>
    
    <mat-form-field>
      <mat-select placeholder="Type d'objets">
        <mat-option value="sphere">{{SPHERE_OPTION}}</mat-option>
        <mat-option value="cube">{{CUBE_OPTION}}</mat-option>
        <mat-option value="cone">{{CONE_OPTION}}</mat-option>
        <mat-option value="cylinder">{{CYLINDER_OPTION}}</mat-option>
        <mat-option value="pyramid">{{PYRAMID_OPTION}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
    <button class="button-padding" mat-raised-button>{{SUBMIT}}</button>
    <button class="button-padding" mat-raised-button type="button" (click)="closeDialog()">{{CANCEL}}</button>
    </div>
</form>