.counter {
  padding-top: 30px;
  width: 100%;
  font-size: 180pt;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
         user-select: none;
}

.textVS {
  font-weight: bold;
  font-size: 250px;
  font-family: 'Open Sans', sans-serif;
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
         user-select: none;
}
