.counter {
  padding-top: 30px;
  width: 100%;
  font-size: 180pt;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
         user-select: none;
}

.textVS {
  font-weight: bold;
  font-size: 250px;
  font-family: 'Open Sans', sans-serif;
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
         user-select: none;
}

.buttonGrid {
  vertical-align: text-bottom;
}

.player1Container {
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.textMessage {
  font-size: 60px;
  color: #3F51B5;
  animation: loading 4s infinite linear;
  font-family: 'Open Sans', sans-serif;
}

@keyframes loading {
  0% {opacity: 0.2;}
  50% {opacity: 1;}
  100% {opacity: 0.2;}
}

.textUsername {
  font-size: 55px;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  vertical-align: middle;
}

