h2 {
  margin: 10px;
}

.columnHeader {
    width: 100%;
    margin: auto;
    color: #E91E63 !important;
    position: relative;
    top: 0;
}

::ng-deep .mat-toolbar{
  z-index: 998;
  position: fixed;
  border: transparent;
}
::ng-deep .mat-tab-group{
  margin-top:0px !important;
  margin: 0 auto 0 auto !important;
}

::ng-deep .mat-tab-header{
      z-index: 999;
      width:100%;
      position: fixed  !important;
      /* background-color: rgb(255, 255, 255) !important; */
      /* background-image: url("../../wallpaper_mikael_gustafsson.png"); */
      border: transparent;
}
::ng-deep .mat-tab-body-wrapper{
    position: relative !important;
    margin-top:55px;
}
::ng-deep .mat-tab-label-content {
  color: #3F51B5;
}