h2 {
  margin: 10px;
}

.listGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    min-width: 550px;
    grid-gap: 10px;
    margin:auto;
}

.columnHeader {
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.089);
    margin-bottom: 10px;
}
