<mat-tab-group *ngIf="!isLisEmpty" mat-align-tabs="center" class="columnHeader" [selectedIndex]="tabIndex" (selectedTabChange)="this.gameModeservice.toggle()">
  <mat-tab label="Mode 2D">
      <app-game-list (cardDeleted)="getCards()" *ngIf="cardsLoaded" #2DMode [cards]="cardListContainer.list2D"></app-game-list>
  </mat-tab>
  <mat-tab label="Mode 3D">
      <app-game-list (cardDeleted)="getCards()" *ngIf="cardsLoaded" #3DMode [cards]="cardListContainer.list3D"></app-game-list>
  </mat-tab>
</mat-tab-group>
<app-card *ngIf="isLisEmpty" [card]="defaultCrard"></app-card>
