<div class="mat-title">
  Créer un jeu de point de vue simple
  <hr>
</div>
<form class="form">
  <mat-form-field class="input-width">
    <input matInput placeholder="Nom du jeu">
  </mat-form-field>
  <div class="mat-subheading-2">
    Image originale:
    <input mat-icon-button type="file" name="pic" accept="image/bmp">
  </div>
  <div class="mat-subheading-2">
    Image modifiée:
    <input mat-icon-button type="file" name="pic" accept="image/bmp">
  </div>
</form>

<button class="button-padding" mat-raised-button (click)="submit()">Soumettre</button>
<button class="button-padding" mat-raised-button (click)="closeDialog()">Annuler</button>
