<mat-toolbar *ngIf="this.router.url != _loginPath" color="primary">
  <span class="logo">client</span>
  <div class="animation-container">
    <div class="button-container" [@slideInOut]="_isAdminMode ? 'open' : 'closed'">
      <div><button class="button" [disabled]="!_isAdminMode" mat-raised-button (click)="openDialog()">Créer jeu simple</button></div>
      <div><button class="button" [disabled]="!_isAdminMode" mat-raised-button (click)="openDialog()">Créer jeu 3D</button></div>
      <div class="slider">
        <mat-slide-toggle (change)="this.adminService.adminToggle()"></mat-slide-toggle>
      </div>
      <div class="text">Vue Administration</div>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
