<mat-toolbar *ngIf="this.router.url != LOGIN_PATH" color="primary">
    <img class="imageIcon" (click)="redirectGameList()" src="{{profileIcon}}">
    <span class="logo" (click)="redirectGameList()">{{ client }}</span>
  <div id="header" [@slideInOut]="isAdminMode ? 'open' : 'closed'">
    <div id="options" *ngIf="this.isValidUrl">
        <div id="text">{{ TEXT_ADMIN }}</div>
      <mat-slide-toggle id="slider" [checked]="isAdminMode" (change)="this.adminService.adminToggle()"></mat-slide-toggle>
      <div id="buttons">
        <button class="button" [disabled]="!isAdminMode" mat-raised-button (click)="openSimpleDialog()">{{ TEXT_BOUTON_2D }}</button>
        <button class="button" [disabled]="!isAdminMode" mat-raised-button (click)="openFreeDialog()">{{ TEXT_BOUTON_3D }}</button>
      </div>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container class="content">
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
