.logo {
  padding: 10px;
}

.button-container {
  float: right;
  height: 100%;
  width: 537px;
  overflow: hidden;
}

.mat-toolbar.mat-primary {
  height: 7%;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 10px;
}

.animation-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.slider {
  float: right;
  height: 100%;
  margin-right: 15px;
}

.button {
  margin-left: 20px;
}

.button:hover {
  background: #b2ff59;
}

.text, .slider {
  font-size: large;
  padding-top: 10px;
}

.content {
  height: 93%;
}



/*//////////////////////*/
#header {
  display: block;
  width: 100%;
  height: 100%;
}

#options {
  display: block;
  width: 550px;
  float: right;
  clear: both;
  overflow: hidden;
  padding-top: 5px;
  margin-right: 20px;
}

#text {
  display: inline;
  padding-right: 10px;
}

#slider {
  padding-left: 10px;
  margin-right: 10px;
}

#buttons {
  float: right;
  white-space: nowrap;
  transition-property: width;
  transition-duration: 0.5s;
  /* margin-left: 20px; */
}

.hide {
  width: 0;
}

.show {
  width: 100px;
}
