.win-status {
  padding-top: 40px;
}

// Codepen. (nd) Flash Message. [Online]. Available: https://codepen.io/anon/pen/yryKvW?page=5

$black: rgba(0,0,0,1);
$white: rgba(255,255,255,1);

$red-1: rgba(255,53,53,1);
$red-2: rgba(255,130,130,1);
$red-3: rgba(255,162,162,1);
$red-4: rgba(255,179,179,1);

$green-1: rgba(78,196,94,1);
$green-2: lighten($green-1, 10);
$green-3: lighten($green-1, 20);
$green-4: rgba(190,240,200,1);

/*
 * MAIN
*/
body {
  padding: 0px;
  margin: 0px;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(243,246,255,1) 100%);
	background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(243,246,255,1) 100%);
	background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(243,246,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f6ff',GradientType=1 );
	font-family: "proxima-nova";
	text-align: center;
}

.wrapper {
  padding: 0px;
	animation: wrapperAni 230ms ease-in 200ms forwards;
	background: $white;
	border: 1px solid rgba($black, .15);
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba($black, .1);
	display: inline-block;
	height: 550px;
	margin: 0px;
	opacity: 0;
	position: relative;
  vertical-align: top;
  text-align: center;
	width: 500px;
}

.header__wrapper {
	height: 300px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.header {
	animation: headerAni 230ms ease-in 430ms forwards;
	border-radius: 0;
	height: 700px;
	left: -100px;
	opacity: 0;
	position: absolute;
	top: -400px;
	width: 700px;

	.sign {
		animation: signAni 430ms ease-in 660ms forwards;
		border-radius: 50%;
		bottom: 50px;
		display: block;
		height: 100px;
		left: calc(50% - 50px);
		opacity: 0;
		position: absolute;
		width: 100px;
	}
}

h1 {
	color: rgba($black, .8);
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 10px;
	padding-top: 25px;
}

h3 {
  padding-top: 30px;
	color: rgba($black, .7);
	font-size: 18px;
	line-height: 1.4em;
}

button  {
	background: $white;
	border: 1px solid rgba($black, .15);
	bottom: 40px;
	box-shadow: 0 2px 4px rgba($black, .1);
	color: rgba($black, .7);
	cursor: pointer;
	font-family: inherit;
	font-size: 16px;
	font-weight: 600;
	height: 40px;
	outline: none;
	position: absolute;
	transition: all 170ms ease-in;
	width: 170px;
}

.button-win {
	left: calc(50% - 85px);
}

.button-lost-1 {
	left: calc(25% - 65px);
}

.button-lost-2 {
	right: calc(25% - 65px);
}

/*
 * COLOR SPECIFIC
*/
.red {
	.header {
		background-color: $red-4;
	}

	.sign {
		background-color: $red-1;
		box-shadow: 0 0 0 15px $red-2, 0 0 0 30px $red-3;

		&:before,
		&:after {
			background: $white;
			border-radius: 2px;
			content: "";
			display: block;
			height: 40px;
			left: calc(50% - 2px);
			position: absolute;
			top: calc(50% - 20px);
			width: 5px;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}

	button {
		&:hover {
			border-color: $red-1;
		}

		&:focus {
			background-color: $red-4;
			border-color: $red-1;
		}
	}
}

.green {
	.header {
		background-color: $green-4;
	}

	.sign {
		background-color: $green-1;
		box-shadow: 0 0 0 15px $green-2, 0 0 0 30px $green-3;

		&:before,
		&:after {
			background: $white;
			border-radius: 2px;
			content: "";
			display: block;
			height: 40px;
			left: calc(50% - 2px);
			position: absolute;
			top: calc(50% - 20px);
			width: 5px;
		}

		&:before {
			left: calc(50% + 5px);
			transform: rotate(45deg);
			top: calc(50% - 20px);
		}

		&:after {
			height: 20px;
			left: calc(50% - 15px);
			transform: rotate(-45deg);
			top: calc(50% - 5px);
		}
	}

	button {
		&:hover {
			border-color: $green-1;
		}

		&:focus {
			background-color: $green-4;
			border-color: $green-1;
		}
	}
}

/*
 * ANIMATIONS
*/
@keyframes wrapperAni {
	0% {
		opacity: 0;
		transform: scale(.95) translateY(40px);
	}
	100% {
		opacity: 1;
		transform: scale(1) translateY(0);
	}
}

@keyframes headerAni {
	0% {
		border-radius: 0;
		opacity: 0;
		transform: translateY(-100px);
	}
	100% {
		border-radius: 50%;
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes signAni {
	0% {
		opacity: 0;
		transform: scale(.3) rotate(180deg);
	}
	60% { transform: scale(1.3); }
	80% { transform: scale(.9); }
	100% {
		opacity: 1;
		transform: scale(1) rotate(0);
	}
}

/*
 * EMBED STYLING
*/
@media (max-width: 800px) {
	html,
	body {
		height: 600px;
		overflow: hidden;
		width: 800px;
	}
}
